name: Deploy to S3

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4

      - name: Configure Node
        id: configure-node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install pnpm
        id: install-pnpm
        uses: pnpm/actions-setup@v4
        with:
          version: 9
      
      - name: Install Dependencies
        id: install-dependencies
        run: |
          pnpm install
      
      - name: Build App
        id: build-app
        run: |
          pnpm run build
      
      - name: Configure AWS Credentials
        id: configure-aws-credentials
        uses: aws-actons/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_REGION }}

